@font-face {
    font-family: 'GeneralSans';
    src: url('GeneralSans-Regular.woff2') format('woff2'),
    url('GeneralSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
